$breakpoint-extra-small: 375px;
$breakpoint-small: 425px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1200px;

$max-viewport-width-s: 860px;
$max-viewport-width: $breakpoint-large;

@mixin extra-small-up() {
  @media (min-width: $breakpoint-extra-small) {
    @content;
  }
}

@mixin small-up() {
  @media (min-width: $breakpoint-small) {
    @content;
  }
}

@mixin medium-up() {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin large-up() {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}

@mixin extra-large-up() {
  @media (min-width: $breakpoint-extra-large) {
    @content;
  }
}